html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  max-height: 1057px;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fbf9f6;
  font-family: 'PT Sans Caption', sans-serif;
}

a:hover {
  text-decoration: none;
}

a:hover:after {
  text-decoration: none;
}

/* Toggle Styles */
  .col-lg-12 {
    float: left !important;
  }

  #wrapper {
      padding-left: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }

  #wrapper.toggled {
      padding-left: 250px;
  }

  #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      left: 250px;
      width: 0;
      height: 100%;
      margin-left: -250px;
      overflow-y: auto;
      background: #241F1F;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 250px;
  }

  #page-content-wrapper {
      max-width: 100%;
      position: absolute;
      padding-left: 15px;
  }

  #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
  }

/* Sidebar Styles */
  .brand {
    font-size: 13px;
    line-height: 1.45em;
    color: white;
    opacity: 0.2;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: -5px;
  }

  .side_date {
    font-size: 13px;
    line-height: 18px;
    color: #E8D692;
    filter: grayscale(60%);
    opacity: 0.5;
    margin-left: 20px;
    margin-top: -30px;
    margin-bottom: 0px;
  }

  .sidebar-nav {
      position: absolute;
      top: 0;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .sidebar-nav li {
      text-indent: 20px;
      line-height: 40px;
  }

  .sidebar-nav li a {
      display: block;
      text-decoration: none;
      color: #999999;
  }

  .sidebar-nav li a:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255,255,255,0.2);
      transition: all 0.5s ease 0s;
  }

  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
      text-decoration: none;
  }

  .sidebar-nav > .sidebar-brand {
      height: 65px;
      font-size: 20px;
      line-height: 60px;
  }

  .sidebar-nav > .sidebar-brand a {
      color: #999999;
  }

  .sidebar-nav > .sidebar-brand a:hover {
      color: #fff;
      text-shadow: 0px 0px 15px #999999;
      background: none;
  }

  @media(min-width:1130px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* Page Content */
  /* Header */
    .burger_h1 {
      position: absolute;
      display: block;
      width: 90%;
      padding-left: 15px;
      left: 0px;
    }

    h1 {
      display:block;
      width: 100% !important;
      color: white;
      top: 0;
      margin-top: 45px;
      text-shadow: 0 1px 2px #505050;
    }

    .burger {
      display: none;
      float: left;
      width: 37px;
      height: 38.5px;
      margin-top: 46px;
      margin-right: 15px;
    }

    .thumbnail {
      border: none;
      position: relative;
      background: #fbf9f6;
      margin: -20px -35px 0 -35px;
      padding: 0;
      max-width: 1250px;
    }

    .thumbnail img {
      max-height: 325px;
      float: left;
    }

    .icons {
      position: absolute;
      color: white;
      bottom: 15px;
    }

    .icons img {
      height: auto;
      float: left;
    }

    .icon1 img {
      width: 23px;
      margin-top: 0px;
      margin-left: 2px;
    }

    .icons p {
      position: relative;
      text-shadow: 0 1px 2px #505050;
      font-size: 18px;
      margin-left: 35px;
    }

  /* Content */
   .mini-navigation {
      display: none;
   }

   .col-md-8 {
      max-width: 725px;
      width: 100%;
      background: #fbf9f6;
      padding-right: 0px;
      margin-right: 15px;
    }

    .col-md-8 p {
      font-size: 16px;
      line-height: 1.45em;
      margin-top: 20px;
      margin-left: -10px;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      text-align: justify;
      text-rendering:optimizeLegibility;
      max-width: 99%;
    }

    .intro {
      font-weight: bold;
    }


  /* Content Pictures */
    .image_block {
      display: inline-block;
      position: relative;
      margin-left: -10px;
      margin-right: 10px;
      max-width: 49%;
      height: auto;
      margin-bottom: 10px;
    }
    
    .image_block img {
      display: inline-block;
      filter: brightness(75%) grayscale(80%);
      max-width: 100%;
      height: auto;
    }

    .image_block .image_name {
      position: absolute;
      display: inline-block;
      left: 10px;
      bottom: 10px;
      width: 270px;
      font-size: 14px;
      color: white;
      text-align: left;
      text-shadow: 1px 1px 15px black;
      max-width: 80%;
    }

     .image_block:hover img {
        filter: grayscale(0%);
        transition: 0.5s;
     }
  
/* Content Pictures with popup */
    .content_wrappa {
      max-width: 725px;
      max-width: 100%;
      margin-left: -10px;
    }

    .content_block, .content_block_big {
      display: inline-block;
      margin-bottom: 4px;
      position: relative;
    }

    .content_block {
      max-width: 49%;
      height: auto;
    }

    .content_block_big {
      position: relative;
      max-width: 100%;
      margin-top: 0px;
      margin-right: 0px !important;
      padding: 0px !important;
    }

    .content_block img {
      width: 350px;
      height: auto;
    }

    .content_block_big img {
      height: auto;
    }
    
    .content_block img, .content_block_big img {
      display: inline-block;
      filter: brightness(75%) grayscale(90%);
      max-width: 100%;
      height: auto;
    }

    .content_block .place_name, .content_block_big .place_name {
      position: absolute;
      display: inline-block;
      left: 20px;
      top: 20px;
      width: 270px;
      font-size: 16px;
      color: white;
      text-align: left;
    }

    /* Content hover with popup */
     .content_hover, .content_hover_big {
        position : absolute;
        display: none;
        color: white;
        font-size: 14px;
        bottom: 15px;
        right: 25px;
     }

     .content_block:hover .content_hover {
        position : absolute;
        display: inline-block;
        color: white;
        font-size: 14px;
        bottom: 15px;
         -webkit-animation: moving 0.25s;
        animation: moving 0.25s;
     }

     .content_block_big:hover .content_hover_big {
        position : absolute;
        display: inline-block;
        color: white;
        font-size: 14px;
        bottom: 15px;
        right: 25px;
         -webkit-animation: moving 0.25s;
        animation: moving 0.25s;
     } 

      @-webkit-keyframes moving {
        from {right: -200px;}
        to {right: 25px;}
     }

     @keyframes moving {
        from {right: -200px;}
        to {right: 25px;}
     }

     .content_block:hover img {
        filter: brightness(75%);
        transition: 0.5s;
     }

     .content_block_big:hover img {
        filter: brightness(75%);
        transition: 0.5s;
     }

     /* Content more info */
      #element_to_pop_up_2, #element_to_pop_up_3, #element_to_pop_up_4, #element_to_pop_up_5, #element_to_pop_up_6 {
        display: none;
        background-color: white;
        padding:30px 40px 20px 40px;
        width:525px;
        min-height: 180px;
        margin-top: 10px;
      }

      #element_to_pop_up_2 h6, #element_to_pop_up_3 h6, #element_to_pop_up_4 h6, #element_to_pop_up_5 h6, #element_to_pop_up_6 h6 {
        position: relative;
        font-size: 22px;
        margin-bottom: 25px;
        line-height: 28px;
        width: 100%;
      }

      #element_to_pop_up_2 p, #element_to_pop_up_3 p, #element_to_pop_up_4 p, #element_to_pop_up_5 p, #element_to_pop_up_6 p {
        margin-top: 12.5px;
        hyphens: auto;
        text-align: justify;
        text-rendering: optimizeLegibility;
      }

      #element_to_pop_up_2 img, #element_to_pop_up_3 img, #element_to_pop_up_4 img, #element_to_pop_up_5 img, #element_to_pop_up_6 img {
        max-width: 100%;
      }

      #element_to_pop_up_2 .icons2, #element_to_pop_up_3 .icons2, #element_to_pop_up_4 .icons2, #element_to_pop_up_5 .icons2, #element_to_pop_up_6 .icons2 {
        position: relative;
        left: 0 !important;
        margin-top: -5px;
        width: 100%;
        top:-7px;
      }

      #element_to_pop_up_2 .icons2 img, #element_to_pop_up_3 .icons2 img, #element_to_pop_up_4 .icons2 img, #element_to_pop_up_5 .icons2 img, #element_to_pop_up_6 .icons2 img{
        width: 19px;
        height: auto;
        float: left;
        display: inline-block;
      }

       #element_to_pop_up_2 .icons2 p, #element_to_pop_up_3 .icons2 p, #element_to_pop_up_4 .icons2 p, #element_to_pop_up_5 .icons2 p, #element_to_pop_up_6 .icons2 p {
        width: 100%;
        color: #292222;
        font-size: 15px;
        text-shadow: none;
        display: block;
        margin-left: 27px;
        hyphens: none !important;
        text-align: left;
      }

  /* Schedule */
    .col-md-4 {
      margin-top: -95px;
      padding: 0px 15px 5px 15px;
      background:  white;
      width: 300px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }
  
    h3 {
      font-size: 18px;
      text-align: center;
      margin-top: 35px;
    }

    .dot {
      color: #0A7B06;
    }

    .second_day {
      margin-top: 20px;
    }

    .col-md-4 p {
      margin-left: 20px;
    }

    .day {
      text-align: center;
      width: 100%;
    }

    .col-md-4 p:nth-child(2) {
      width: 100%;
      text-align: center;
      margin-left: 0 !important;

    }

    .add_info {
      opacity: 0.3;
      margin-top: -10px;
      margin-bottom: 10px;
    }

    .col-md-4 h3:nth-child(17) {
      font-size: 24px;
      margin-right: 20px;
      margin-bottom: 12px;
      margin-top: 30px;
      text-align: right;
    }

    .price {
      text-align: right;
      font-size: 16px;
      margin-right: 20px;
    }

    .add_info_price {
      text-align: right;
      opacity: 0.3;
      margin-top: -10px;
      margin-bottom: 10px;
      margin-right: 20px;
    }

    .alarm {
      color:red;
    } 

      /* No schedule */
      #hide_schedule {
        display: none;
      }

      .no_schedule {
        display: block;
      }

      .no_schedule h2 {
        margin-bottom: 20px;
      }

      .no_schedule p {
        font-size: 16px;
        text-align: left;
      }

      .no_schedule .sorry {
        font-size: 13px !important;
        text-align: center !important;
        margin-left: 0px !important;
        opacity: 0.5;
        margin-top: -10px;
        margin-bottom: 15px;
      }

      .no_schedule .sorry:nth-child(3) {
        margin-bottom: -0px;
      }

      .no_schedule a, .no_schedule a .add_info {
        text-decoration: none !important;
        color: black !important;
        text-align: left !important;
        margin-left: 20px !important;
      }

      .no_schedule .add_info {
        font-size: 13px;
        opacity: 0.5;
        margin-bottom: -5px;
        text-align: left !important;
        margin-left: 20px !important;
      }

      .no_schedule a .options {
        margin-bottom: 10px !important;
      }

      .no_schedule a:hover {
        color: #0A7B06 !important;
      }

    /* Payment */
    .payment {
      background-color: white;
      margin-bottom: 65px !important;
    }

    .payment .pay {
      font-size: 14px !important;
      color: white;
      padding: 5.5px 12px;
      float: left;
      margin-left:20px;
      margin-top: 6px;
      opacity:0.25;
      background-color: green;
      -webkit-animation: color_change 7s infinite alternate;
       -moz-animation: color_change 7s infinite alternate;  
       -ms-animation: color_change 7s infinite alternate;  
       -o-animation: color_change 7s infinite alternate;  
       animation: color_change 7s infinite alternate; */
    }

    .pay2 {
      display: none;
    }

        /* Anima */
        @-webkit-keyframes color_change {
        from { background-color: green; }
        to { background-color: blue; }
        }
        @-moz-keyframes color_change {
          from { background-color: green; }
          to { background-color: blue; }
        }
        @-ms-keyframes color_change {
          from { background-color: green; }
          to { background-color: blue; }
        }
        @-o-keyframes color_change {
          from { background-color: green; }
          to { background-color: blue; }
        }
        @keyframes color_change {
          from { background-color: green; }
          to { background-color: blue; }
        }

        .payment .pay:hover {
          background-color: red;
          opacity: 0.5;
          transition: all 0.04s ease 0.04s;
          -webkit-animation: none;
          -moz-animation: none;  
          -ms-animation: none;  
          -o-animation: none; 
          animation: none;
        }

    .payment .price_final { 
      font-size: 24px;
      color: #0A7B06;
      float: right;
      padding: 5px 10px;
      margin-right: 10px;
    }

    /* Payment Info */
    #element_to_pop_up_1 {
      display: none;
      background-color: white;
      padding:30px 40px 20px 40px;
      width:525px;
      min-height: 180px
    }

    #element_to_pop_up_1 p {
      display: inline-block;
    }

    h5 {
      font-size: 22px;
      margin-bottom: 5px;
    }

    h6 {
      font-size: 16px;
      line-height: 10px;
      float: left;
    }

    .popup_price {
      color: green;
    }

    .yandex_money, .sberbank, .gocash {
      margin-top: 25px;
    }

    .bank_account {
      color: #428bca;
    }

    .close { 
      margin-top: 25px;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
      font-weight: normal;
    }


/* Info block */
  #wrappa {
    text-align: center;
    padding-right: 0px;
    margin-left: 25px;
  }

  .info_padding {
    width: 960px;
    margin: 0px auto;
  }

  #info_block {
    position: absolute;
    display: inline-block;
    max-width: 345px;
    float: right;
    margin-top: 25px;
  }

  #info_block h4 {
    text-align: left;
    font-size: 18px;
    color: #736464;
  }

  #info_block p {
    font-size: 14px;
    text-align: left;
    color: #736464;
  }

  .tel_nowrap {
    white-space: nowrap;
    color: #736464 !important;
  }

  .tel_whatsup img{
    margin-top: -3px;
    margin-right: 0px;
    margin-left: 3px;
    width: 20px;
    filter: grayscale(75%);
  }

  .discount, .review {
    margin-top: 35px;
  }

  .bold-disc {
    font-weight: bolder;
    color: #5379AD;
  }
  
  .social img {
    width: 16px;
    float: left;
    margin: 5px 10px 0 0;
    filter: grayscale(100%);
    margin-right: 5px;
  }

  .vk:hover img {
    filter:grayscale(50%);
  }
  
  .instagram:hover img {
    filter:grayscale(50%);
  }

  .social p {
    margin-top: 0px;
    font-size: 24px;
    padding-top: 3px;
  }

  .social p:hover {
    font-weight: bold;
  }

  #info_block2, .review2 {
    display: none;
  }

/* Adaptive */
  @media screen and (max-width:1744px) {
    #info_block p {
      font-size: 12px;
    }

    .social p {
      padding-top: -4px;
    }

    .social img {
      width: 15px;
      margin-right: 5px;
    }

  @media screen and (max-width: 1599px) {
    #wrappa {
      display: none;
    }

    #info_block_container {
      overflow: hidden;
      width: 1000px;
    }

    #info_block2 {
      position: relative;
      display: inline-block;
      float: left;
      width: 110%;
      font-size: 16px;
      line-height: 1.45em;
      margin-left: -20px;
      box-shadow: inset 0px 20px 25px -26px #736464;
      padding: 20px 0px 20px 40px;
      line-height: 22px;
      color: #736464 !important;
    }

    #info_block2 h4 {
      font-size: 22px;
    }

    #info_block .tel_whatsup img {
      margin-top: -3px;
      margin-right: 0px;
      margin-left: 3px;
      width: 20px;
      filter: grayscale(75%);
    }

    #info_block2 .contacts {
      float: left;
      width: 40%;
      padding-right: 25px;
    }

    #info_block2 .discount {
      float: left;
      margin-top: 0px;
      width: 40%;
      padding-right: 25px;
    }

    .review2 {
      position: relative;
      display: inline-block;
      background-color: #253326;
      margin: 0px 0px -25px -20px;
      width: 110%; 
      height: auto; 
      padding-left: 40px;  
    }

    .review2 h4 {
      font-size: 22px;
      margin-bottom:10px;
    }

    .review2_about1 {
      display: inline-block;
      display: block;
      color: #fbf9f6;
      opacity: 0.85;
      font-size: 14px;
      padding-top: 20px;
      padding-left: 0px;
      max-width:40%;
      padding-right: 35px;
      float: left;
    }

    .review2_about1 p {
      font-size: 14px;
    }

    .review2_about2 {
      display: inline-block;
      color: #fbf9f6;
      opacity: 0.85;
      font-size: 14px;
      padding-top: 20px;
      padding-left: 0px;
      padding-bottom: 25px;
      width: 40%;
      padding-right: 25px;
      float: left;
    }

    .review2 .social p {
      margin-top: -3px;
      font-size: 16px;
      color: #fbf9f6;
      opacity: 0.95;
      padding-top: 1px;
    }
  }


  @media screen and (max-width:1375px) { 
    .thumbnail {
      margin: 0 -15px 0 -30;
    }

    .col-md-8 {
      max-width: 66%;
      padding-right: 0px;
      margin-right: 5px;
    }

    .col-md-8 p {
      max-width: 99%;
    }

    .content_block_big {
      max-width: 98.6%;
    }

    .col-md-4 {
      float: right;
    }

    #info_block2 .discount {
      width: 48%;
  }

  @media screen and (max-width: 1250px) {
    .col-md-8 {
      max-width: 62.8%;
      margin-top: 25px;
      margin-left: -10px;
      margin-right: 0px;
      padding-right: 5px;
    }

    .col-md-8 p {
      font-size: 13.5px;
      line-height: 1.45em;
      margin-top: 0px !important;
      max-width: 99%;
    }

    .content_block .place_name, .content_block_big .place_name {
      font-size: 14px;
      margin-top: -5px;
      margin-left: -5px;
    }

    .content_block_big {
      max-width: 98.7%;
    }

    h1 {
      margin-left: -10px;
      width: 550px;
    }

    .icons {
      margin-left: -10px;
    }
  }

  @media screen and (max-width: 1129px) {
    .burger {
      display: block;
      margin-left: -10px;
    }

    h1 {
      margin-top: 45px;
    }

    .h1_plus {
      margin-left: -7px;
    }

    .thumbnail {
      margin: -25px -15px 0 -35px;
    }

    .col-md-8 {
      max-width:65.5%;
      padding-right: 0px;
      margin-right: 15px;
    }

    .col-md-8 p {
      font-size: 16px;
      line-height: 1.45em;
      margin-top: -5px;
      max-width: 99%;
    }

    .col-md-4 {
      left: -25px;
    }
  }

  @media screen and (max-width: 1024px) {
    #info_block2, .review2 {
      max-width: 1029px;
      width: 102%;
    }
    #info_block2 .discount {
      width: 55%;
    }
  

  @media screen and (max-width: 991px) {
    h1 {
      margin-top: 45px;
    }

    .h1_plus {
      margin-left: -7px;
    }

    .burger {
      margin-left: -10px;
    }

    .icons p {
      font-size: 14px;
      padding-top: 3px;
      text-shadow: 1px 1px 5px black;
    }

    .col-md-8 {
      width: 60%;
      margin-top: 25px;
      margin-right: 15px;
      padding-right: 0px;
      float: left !important;
    }

    .content_block_big {
      max-width: 98.65%;
    }

    .content_block .place_name, .content_block_big .place_name {
      width: 200px;
    }
  }

  @media screen and (max-width:865px) {
    #page-content-wrapper, .container-fluid {
      padding: 0;
    }

    .row {
      margin: 0px !important;
    }

    .burger {
      display: block;
      width: 30px;
      height: 30px;
      margin-top: 43px;
      margin-right: 10px;
      margin-left: 5px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 0;
      padding-left: 15px;
    }

    .h1_plus {
      margin-top: 10px;
      margin-left: 8px;
      max-width: 500px;
    }

    .icons {
      padding-left: 15px;
    }

    .thumbnail img {
      min-height: 225px;
      overflow: hidden;
    }

    .thumbnail img {
      display: block;
      -ms-interpolation-mode: bicubic;
    }

    .mini-navigation {
      position: relative;
      display: inline-block;
      width: 100%;
      font-size: 24px;
      margin-top: -15px;
      margin-bottom: 10px;
    }

    .mini-navigation .when {
      float: left;
      width: 49.5%;
      height: 40px;
      border: 1px solid #c5bdbc;
      border-radius: 5px;
    }

    .mini-navigation .when:hover, .buy:hover {
      background-color: #c5bdbc;
      color: white;
      transition: all 0.7s ease 0s;
    }

    .mini-navigation .when p {
      text-align: center;
      vertical-align: center;
      margin: auto;
      line-height: 40px !important;
      font-size: 16px;
      color: #736464;
      opacity: 0.4;
      transition: all 0.7s ease 0s;
    }

    .mini-navigation .when p:hover {
      color: white;
      opacity: 1;
    }

    .mini-navigation .buy {
      float: right;
      width: 49.5%;
      height: 40px;
      font-size: 18px;
      border: 1px solid #c5bdbc;
      border-radius: 5px;
    }

    .mini-navigation .buy p {
      text-align: center;
      vertical-align: center;
      font-size: 16px;
      margin: auto;
      line-height: 40px !important;
      color: #736464;
      opacity: 0.4;
    }

    .mini-navigation .buy p:hover {
      color: white;
      opacity: 1;
    }

    .col-md-8 {
      min-width: 100%;
      max-width: 90%;
      margin-top: 25px;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 25px;
      padding-right: 25px;
      float: none !important;
    }

    .col-md-8 p {
      max-width: 99%;
      font-size: 15px;
      line-height: 1.45em;
      margin-left: 0px;
    }

    .image_block {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10px;
    }

    .content_block .place_name, .content_block_big .place_name {
      font-size: 16px;
      margin-top: 0px;
      margin-left: 0px;
    }

    .content_wrappa {
      max-width: 840px;
      max-width: 100%;
      margin-left: 0px;
    }

    .content_block img {
      width: 420px;
      max-width: 100%;
    }

    .content_block_big img {
      width: 810px;
      max-width: 100%;
    }

    .col-md-4 {
      margin: 25px auto 0px auto !important;
      float: none;
      padding-top: 10px;
      padding-bottom: 25px;
      min-width: 100%;
      max-width: 100%;
      left: 0px !important;
    }

    .col-md-4 p:nth-child(2) {
      margin-left: 0px;
    }

    .col-md-4 p {
      text-align: center;
      font-size: 16px;
      margin-left: 0px;
    }

    .col-md-4 h2 {
      margin-left:  0px;
    }

    .col-md-4 h3{
      font-weight: bolder;
      margin-left: 0px;
      margin-right: 0px;
    }

    .col-md-4 h3:nth-child(17) {
      text-align: center;
      margin-left: 0;
      margin-right: 0px;
    }

    .add_info_price, .price, .price_final {
      margin-right: 0px;
    }

    .no_schedule a p {
      margin-left: 0px;
    }

    .no_schedule a .add_info {
      font-size: 13px;
      opacity: 0.5;
      margin-bottom: -5px;
      text-align: center !important;
      margin-left: 0px !important;
    }

    .payment {
      margin-bottom: 0 !important;
    }

    .payment .price_final {
      font-size: 26px;
      display: block;
      text-align: center;
      float: none;
      width: 100%;
    }

    .payment .pay {
      display: none;
    }

    .payment .pay2 {
      font-size: 24px;
      display: block;
      color: white;
      padding: 10px 1px;
      float: none;
      margin-top: 10px;
      text-align: center;
      opacity:0.25;
      background-color: green;
      -webkit-animation: color_change 7s infinite alternate;
       -moz-animation: color_change 7s infinite alternate;  
       -ms-animation: color_change 7s infinite alternate;  
       -o-animation: color_change 7s infinite alternate;  
       animation: color_change 7s infinite alternate; */
    }

    #info_block2, .review2 {
      width: 100%;
      margin-top: 0px !important;
      margin-left: 0 !important;
      padding-left: 25px !important;
    }

    #info_block2 .contacts {
      width: 45%;
    }

    .review2 {
      padding-top: 0px;
    }

    .review2_about1 {
      width: 45%;
      margin-right: 40px;
      padding-left: 0px !important;
      padding-bottom: 20px;
    }

    .review2_about2 {
      width: 45%;
      padding-right: 10px;
      padding-left: 0px !important;
    }

    
    #info_block2 p {
      font-size: 14px;
      line-height: 21px;
    }
  }

  @media screen and (max-width:645px) {
    .content_wrappa {
      max-width: 675px;
    }

    .content_block, .content_block_big {
      display: inline-block;
      margin-bottom: 4px;
      position: relative;
    }

    .content_block {
      max-width: 49.5%;
      height: auto;
    }

    .content_block_big {
      position: relative;
      max-width: 100%;
      margin-left: 0px !important;
    }

    .content_block.block2 {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }

    .content_block img, .content_block_big img {
      display: inline-block;
      max-width: 99.4%;
      height: auto;
    }

    .content_block .place_name, .content_block_big .place_name {
      position: absolute;
      display: inline-block;
      left: 20px;
      top: 20px;
      width: 200px;
      font-size: 16px;
      color: white;
      text-align: left;
    }

    .content_hover, .content_hover_big {
      font-size: 12px !important;
      bottom: 10px !important;
      right: 20px !important;
    }
  }

  @media screen and (max-width:580px) {
    .h1_plus {
      width: 325px;
      margin-left: -37px;
      font-size: 14px;
    }

    #info_block2 h4 {
      font-size: 20px;
      margin-top: 10px;
    }

    #info_block2 p {
      font-size: 13px;
      line-height: 1.45em;
    }
    
    #info_block2 .contacts {
      width: 100%;
    }

    #info_block2 .discount {
      width: 100%;
      margin-top: 10px;
    }

    .review2 {
      width: 100%;
    }

    .review2_about1, .review2_about2 {
      max-width: 100%;
      width: 100%;
      padding-right: 25px;
      margin-right: 0px;
      float: none;
    }

    .review2_about1 p, .review2_about2 p {
      width: 100%;
      font-size: 13px;
      line-height: 1.45em !important;
    }

    .review2_about2 h4 {
      margin-top: -25px;
    }

    .review2_about2 .social p {
      font-size: 15px;
      padding-top: 4px;
    }

    #element_to_pop_up_1, #element_to_pop_up_2, #element_to_pop_up_3, #element_to_pop_up_4, #element_to_pop_up_5, #element_to_pop_up_6 {
      padding:15px 20px 10px 20px;
      width:375px;
      min-height: 180px
    }
  }

  @media screen and (max-width:475px) {
    .burger_h1 h1 {
      font-size: 22px;
    }

    .h1_plus {
      margin-left: -37px;
    }

    .content_block {
      max-width: 49.2% !important;
    }

    .content_block_big {
      max-width: 99.8%;
    }

    .content_block .place_name, .content_block_big .place_name {
      left: 15px;
      top: 10px;
      width: 130px;
      font-size: 12px;
    }
  }

  @media screen and (max-width:375px) { 
  h1 {
    font-size: 17px !important;
    margin-top: 46px !important;
  }

  .burger_h1 img {
    width: 30px;
    height: 25px;
  }

  .icons p {
    width: 250px;
    font-size: 13px !important;;
  }

  .mini-navigation .when, .mini-navigation .buy {
    width: 49%;
  }

  .mini-navigation .when p, .mini-navigation .buy p{
    font-size: 14px;
  }

  .col-md-8 p {
    font-size: 14px;
    line-height: 1.45em;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    text-align: left;
  }

  .image_name {
    font-size: 12px !important;
    line-height: 16px;
    }

  .place_name {
    max-width: 100px;
    top: 4px !important;
    left: 8px !important;
  }

  .payment {
    width: 100%;
    height: 100%;
    margin-left: 0!important;
  }

  .payment img {
    height: 35px;
    width: auto;
  }

  .cash, .bank, .yamoney {
    display: table-cell;
  }

  .yamoney img {
    height: 40px;
  }

  .cash img {
    margin-right: 0!important;
  }

  #element_to_pop_up_1 {
    width: 350px;
    padding:10px 10px 10px 20px;
    margin-top: 10px;
  }

  #element_to_pop_up_2 p, #element_to_pop_up_3 p, #element_to_pop_up_4 p, #element_to_pop_up_5 p, #element_to_pop_up_6 p {
    margin-top: 12.5px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    text-align: left;
  }

  iframe {
    height: auto;
  }
}

@media screen and (max-width:320px) {
  #element_to_pop_up_1, #element_to_pop_up_2, #element_to_pop_up_3, #element_to_pop_up_4, #element_to_pop_up_5, #element_to_pop_up_6 {
      margin-top: 10px;
      padding:0px 10px 10px 10px;
      width:300px;
      min-height: 180px
    }
  }